<div class="card mt-4">
    <h4 class="card-header">
      Análises de Crédito
    </h4>
    <br>
    <div class="col-3">
        <input [(ngModel)]="listFilter" type="text" class="form-control" id="filterInput" placeholder="Filtrar...">
    </div>
    <div class="col">
        <div *ngIf='listFilter' class="form-text text-muted">Pesquisar por: {{listFilter}}</div>
    </div>
    <div class="card-body">
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>

      <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Portador</th>
              <th scope="col">Status</th>
              <th *ngIf = "user.profile == 'ROLE_ANALISTA'" scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let analise of filteredAnalises">
              <td>{{analise.id}}</td>
              <td>{{analise.portador.nome}}</td>
              <td>{{analise.status}}</td>
              <td>
                <div *ngIf = "user.profile == 'ROLE_ANALISTA'" class="row">
                  <div class="col-6">
                  <a (click)="save(analise.id, 'APROVADO')"><i class="fas fa-thumbs-up"></i></a>
                </div>
                  <a (click)="save(analise.id, 'NEGADO')"><i style="color:red"class="fas fa-thumbs-down"></i></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
