<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="'/'">Home</a>
      <a class="nav-item nav-link" routerLink="/portador">Portadores</a>
      <a class="nav-item nav-link" routerLink="/analise">Análises de Crédito</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>
