<div class="card mt-4">
    <h4 class="card-header">
      <div class="row" style="justify-content: space-between;">
        <h4 style="margin-left:15px">Portadores</h4>
        <button type="button" routerLink="/portador/add" class="btn btn-secondary">Adicionar</button>
      </div>

    </h4>
    <div class="card-body">
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
      <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Nome</th>
              <th scope="col">Email</th>
              <th scope="col">CPF</th>
              <th scope="col">Renda</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let portador of portadors">
              <td>{{portador.id}}</td>
              <td>{{portador.nome}}</td>
              <td>{{portador.email}}</td>
              <td>{{portador.cpf}}</td>
              <td>{{portador.renda}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
