<div class="card mt-4">
  <h4 class="card-header">Sistema de Analise de Crédito</h4>
  <div class="card-body">
      <h6>Últimos portadores cadastrados </h6>
      <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
      <ul *ngIf="portadors">
          <li *ngFor="let portador of portadors">{{portador.nome}}</li>
      </ul>

  </div>
</div>
