<div class="card mt-4">
    <h4 class="card-header">Portadores </h4>
    <div class="card-body">
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <form [formGroup]="portadorForm" (ngSubmit)="onSubmit(portadorForm.value)">
            <div class="form-row">
                <div class="form-group col-6">
                    <label>Nome</label>
                    <input type="text" formControlName="nome" class="form-control"
                    placeholder="Digite o nome..."
                        [ngClass]="{ 'is-invalid': submitted && form.nome.errors }" />
                    <div *ngIf="submitted && form.nome.errors" class="invalid-feedback">
                        <div *ngIf="form.nome.errors.required">O campo nome é obrigatório</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>CPF</label>
                    <input type="cpf" formControlName="cpf" class="form-control"
                    placeholder="Digite um CPF Válido..."
                        [ngClass]="{ 'is-invalid': submitted && form.cpf.errors }" />
                    <div *ngIf="submitted && form.cpf.errors" class="invalid-feedback">
                        <div *ngIf="form.cpf.errors.required">O campo cpf é obrigatório</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>Email</label>
                    <input type="email" formControlName="email" class="form-control"
                    placeholder="Digite o email"
                        [ngClass]="{ 'is-invalid': submitted && form.email.errors }" />
                    <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
                        <div *ngIf="form.email.errors.required">O campo email é obrigatório</div>
                        <div *ngIf="form.email.errors.emailValidator">O campo email deve ser preenchido com um formato
                            válido</div>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputSexo">Sexo</label>
                    <select id="inputSexo" formControlName="sexo" class="custom-select">
                      <option selected>MASCULINO</option>
                      <option>FEMININO</option>
                    </select>
                    <div *ngIf="submitted && form.sexo.errors" class="invalid-feedback">
                        <div *ngIf="form.sexo.errors.required">O campo sexo é obrigatório</div>
                  </div>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputIdade">Idade</label>
                    <input type="number" formControlName="idade" class="form-control"
                    placeholder="idade..."
                        [ngClass]="{ 'is-invalid': submitted && form.idade.errors }" />
                    <div *ngIf="submitted && form.idade.errors" class="invalid-feedback">
                        <div *ngIf="form.idade.errors.required">O campo idade é obrigatório</div>
                  </div>
                </div>
                <div class="form-group col-6">
                    <label>Renda</label>
                    <input type="number" formControlName="renda" class="form-control"
                    placeholder="Digite o renda"
                        [ngClass]="{ 'is-invalid': submitted && form.renda.errors }" />
                    <div *ngIf="submitted && form.renda.errors" class="invalid-feedback">
                        <div *ngIf="form.renda.errors.required">O campo missão é obrigatório</div>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputEstadoCivil">Estado Civil</label>
                    <select id="inputEstadoCivil" formControlName="estadoCivil" class="custom-select">
                      <option selected>SOLTEIRO</option>
                      <option>CASADO</option>
                      <option>VIUVO</option>
                      <option>CASADO</option>
                      <option>DIVORCIADO</option>
                    </select>
                    <div *ngIf="submitted && form.sexo.errors" class="invalid-feedback">
                        <div *ngIf="form.sexo.errors.required">O campo sexo é obrigatório</div>
                  </div>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputEstado">UF</label>
                    <select id="inputEstado" formControlName="estado" class="custom-select">
                        <option selected value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                    </select>
                    <div *ngIf="submitted && form.estado.errors" class="invalid-feedback">
                        <div *ngIf="form.estado.errors.required">O campo estado é obrigatório</div>
                  </div>
                </div>

            </div>
            <button type="submit" class="btn btn-info" [disabled]="!portadorForm.valid">Salvar</button>
        </form>
    </div>
  </div>
